<ion-content>
  <div id="loginCont">
    <div id="logo"></div>

    <ion-item id="inputItem">
      <ion-label position="floating"><ion-icon name="mail"></ion-icon>Email:</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item id="inputItem">
      <ion-label position="floating"><ion-icon name="unlock"></ion-icon>Password:</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="signIn()">Login</ion-button>
    <br/>
    <br/>
    <ion-text id="newUserSignUp">New user? - <span (click)="signUp()">sign up</span></ion-text>

    <p id="passwordReset" (click)="passwordReset()">Password reset</p>
  </div>
</ion-content>
