<ion-header>
  <ion-toolbar id="topBar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Confirm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="body">

    <div id="productBlock">
      <ion-card id="card">    
        <ion-card-content>
          <div id="left">
            <!-- <div id="imgIcon2" (click)="viewModal()"></div> -->
            <div id="imgIcon2"></div>
          </div>
          <p id="needTowingText"><b>Need towing.</b></p>
          <span id="needTowingText">Price: <b>R{{ Price }}</b>, Chosen tow truck: <b>{{ Vehicle }}</b></span>
          <form id="payment-form" *ngIf="driver == false">
            <div id="card-element">
              <!-- Elements will create input elements here -->
            </div>
          
            <!-- We'll put the error messages in this element -->
            <div id="card-errors" role="alert"></div><br/>
          
            <ion-button  expand="block" id="submit" type="submit"><p *ngIf="spinner == false">Confirm</p><ion-spinner *ngIf="spinner == true"></ion-spinner></ion-button>
            <ion-button  expand="block" (click)="cancel()" id="cancelBtn" color="tertiary">Cancel</ion-button>
          </form>
        </ion-card-content>
      </ion-card>

      <div id="mapp">
      </div>
      <br>
      <br>
    </div>

  </div>
</ion-content>
