<ion-header>
  <ion-toolbar id="topBar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Confirm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="body">
    <div id="productBlock">
      <div id="left">
        <div id="imgIcon2"></div>
      </div>
      <p><b>Need towing.</b></p>
      <span>Price: <b>R{{ Price }}</b>, Chosen tow truck: <b>{{ Vehicle }}</b></span>
      <div id="mapp">
      </div>
      <br>
      <br>
      <div id="driverInfo">
        <img *ngIf="driver == true" src="https://firebasestorage.googleapis.com/v0/b/wilsons-aa459.appspot.com/o/{{photo}}?alt=media" id="driverImg">
        <p *ngIf="driver == true" id="driverDet">Driver's name: <span>{{ fullname }}</span> </p>
        <p *ngIf="driver == true" id="driverDet">ID number <span>{{ id_no }}</span></p>
        <p *ngIf="driver == true" id="driverDet">Mobile number: <span>{{ mobile }}</span></p>
        <p *ngIf="driver == true" id="driverDet">Distance: <span>{{ distance }} away</span></p>
      </div>
      <ion-button *ngIf="driver == false" (click)="confirm()">Confirm</ion-button>
    </div>

  </div>
</ion-content>
