<ion-header>
  <ion-toolbar id="topBar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Confirm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="body">
    <div id="productBlock">
      <div id="left">
        <div id="imgIcon2"></div>
      </div>
      <p id="needTowingText"><b>Need towing.</b></p>
      <span id="needTowingText">Price: <b>R{{ Price }}</b>, Chosen tow truck: <b>{{ Vehicle }}</b></span>
      <div id="mapp">
      </div>
      <br>
      <br>

      <div id="driverInfoSec">
        <div *ngIf="driver == true" class="ta">
          <span>Thank you for requesting, your driver's profile
            can be found below.
          </span>
        </div>
      </div>

      <div id="driverInfoSec" class="bottomDriverInfoSec">
        <div *ngIf="driver == true" id="driverInfo">
          <img src="https://firebasestorage.googleapis.com/v0/b/wilsons-aa459.appspot.com/o/{{photo}}?alt=media" id="driverImg">
          <p *ngIf="driver == true" id="driverDet" class="driverFullName"><b>{{ fullname }}</b></p>
          <p *ngIf="driver == true" id="driverDet">ID number <span>{{ id_no }}</span></p>
          <p *ngIf="driver == true" id="driverDet">Mobile number: <span>{{ mobile }}</span></p>
          <p *ngIf="driver == true" id="driverDet">Distance: <span>{{ distance }} away</span></p>
        </div>
      </div>
      <ion-button *ngIf="driver == false" (click)="confirm()">Confirm</ion-button>
    </div>

  </div>
</ion-content>
