<ion-header>
  <ion-toolbar id="topBar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Need towing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="body">
    <div id="productBlock" (click)="towing()">
      <div id="left">
        <div id="imgIcon1"></div>
      </div>
      <div id="right">
        <p><b>Need towing.</b></p>
        <span>We offer a 24hr towing service.</span>
      </div>
    </div>

    <p id="needTowingSpn">Need towing</p>
    <p id="selectVehicle">
      Enter Destination
    </p>

    <div id="destination"> 
      <ion-input id="destinationInput" type="destinationInput" [(ngModel)]="location" (ionChange)="autocomplete()" placeholder="Enter destination"></ion-input>
    </div>

    <div id="AutoCompleteResults">
      <ion-item id="resultingPlace" *ngFor="let item of places" (click)="SetDestination(item.description)">
        {{ item.description }}
      </ion-item>
    </div>

    <div id="Selecteddestination" *ngIf="destination != '' ">
      <p>{{ destination}}</p>
      <div id="imgIconCheck"></div>
    </div>
  </div>
</ion-content>
