div#body {
    width: 100%;
    height: 100%;
    background: #0D0D0D;
    text-align: -webkit-center;
    position: absolute;
    padding-bottom: 50px;
    overflow: scroll;
}

#topBar {
    --background: black;
    color: white;
}

ion-input#destinationInput {
    width: 90%;
    background: white;
    color: black;
    border-radius: 5px;
    outline: none;
}

div#productBlock,
div#productBlock2 {
    width: 100%;
    height: 60px;
    margin-top: 5px;
}


div#Selecteddestination p {
    color: white;
    font-weight: bold;
}


#destination[_ngcontent-etm-c1] {
    color: white;
    font-size: 13px;
    text-align: left;
    margin-left: 15px;
}

div#productBlock2 {
    background: black;
    margin-top: 0px;
    border-top: 1px solid #ffffff17;
}

ion-item#resultingPlace {
    --background: black;
    color: white;
    width: 90%;
    border: 1px solid #171717;
    border-radius: 5px;
}

#imgIcon1,
#imgIcon3,
#imgIcon4,
#imgIcon5 {
    width: 43px;
    height: 34px;
    background: url(truck.png);
    background-size: cover !important;
}

#imgIconCheck {
    width: 34px;
    height: 34px;
    background: url(check.png);
    background-size: cover !important;
    margin-bottom: 10px;
}


#rqstDriverBtn{
    margin-top: 20px;
}

#imgIcon3 {
    background: url(small.png);
    width: 52px;
    height: 49px;
}

#imgIcon4 {
    background: url(medium.png);
    width: 52px;
    height: 49px;
}

#imgIcon5 {
    background: url(large.png);
    width: 52px;
    height: 49px;
}

#truckSize {
    color: #F39101;
    pointer-events: none;
    height: 10px;
}

#min_price {
    pointer-events: none;
    font-size: 12px;
}

div#left {
    float: left;
    margin-left: 20px;
    margin-top: 25px;
}

div#right {
    float: right;
    height: 40px;
    border-left: 1px solid #ffffff12;
    width: 73%;
    margin-top: 25px;
    color: white;
    text-align: left;
    padding-left: 20px;
}

div#right p {
    margin: 0;
    font-size: 15px;
}

div#right span {
    font-size: 12px;
}

p#needTowingSpn {
    color: white;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 0px;
}

p#selectVehicle {
    text-align: left;
    margin-left: 20px;
    color: #F39101;
    font-size: 20px;
    margin-top: 4px;
    font-weight: bold;
}

.driverBlock {
    width: 100%;
    height: 105px;
    background: black;
    border-top: 1px solid #ffffff12;

}

#driverImg {
    width: 50px;
}

p#driverName {
    font-weight: bold;
    color: #BBA427;
}
