<ion-header>
  <ion-toolbar id="topBar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      In transit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="body">


      <div id="left">
        <br>
        <div id="imgIcon2"></div>
      </div>
      <p><b>Towing request.</b></p>
      <span>Towing requested by: <b>{{ fullname }}</b>, their mobile number is: <b>{{ mobile }}</b></span>
      <div id="mappp">
      </div>
      <br>
      <br>
      <ion-button (click)="completed()">Done</ion-button>
  </div>
</ion-content>
