<ion-header>
  <ion-toolbar id="topBar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="body">

      <div id="productBlock" class="needTowingBlock" (click)="towing()">
        <div id="left">
          <div id="imgIcon1"></div>
        </div>
        <div id="right">
          <p><b>Need towing.</b></p>
          <span>We offer a 24hr towing service.</span>
        </div>
      </div>
      <div id="productBlock" class="keyBlock">
        <div id="left">
          <div id="imgIcon2"></div>
        </div>
        <div id="right">
          <p><b>Key locked inside.</b></p>
          <span>Locksmith smith services</span>
        </div>
      </div>
      <div id="productBlock" class="batteryBlock">
        <div id="left">
          <div id="imgIcon3"></div>
        </div>
        <div id="right">
          <p><b>Dead Battery</b></p>
          <span>Roadside assistance</span>
        </div>
      </div>
      <div id="productBlock" class="tankBlock">
        <div id="left">
          <div id="imgIcon4"></div>
        </div>
        <div id="right">
          <p><b>Empty tank</b></p>
          <span>Roadside assistance</span>
        </div>
      </div>
      <div id="productBlock" class="mechanicBlock">
        <div id="left">
          <div id="imgIcon5"></div>
        </div>
        <div id="right">
          <p><b>Need a mechanic</b></p>
          <span>Roadside assistance</span>
        </div>
      </div>
      <div id="productBlock" class="trafficBlock">
        <div id="left">
          <div id="imgIcon6"></div>
        </div>
        <div id="right">
          <p><b>Traffic updates</b></p>
          <span>Live traffic updates</span>
        </div>
      </div>
      <!-- <div id="productBlock">
        <div id="left">
          <div id="imgIcon5"></div>
        </div>
        <div id="right">
          <p><b>Need a mechanic</b></p>
          <span>Roadside assistance</span>
        </div>
      </div> -->

  </div>
</ion-content>
